{include file="base/header" /}
<div class="i_box clearfix">
    <div class="i_bl">
        <div class="box_h"><span>PPP免费咨询</span></div>
        <div class="box_m">
            <dl class="clearfix">
                <dt><img src="__ROOT__/static/index/images/icon2.png" alt=""/></dt>
                <dd>
                    <b>4009978555</b>
                    <p>(请拨以下分机号)</p>
                </dd>
            </dl>
            <p>海绵城市<em>"1"</em></p>
            <p>咨询陪训<em>"2"</em></p>
            <p>综合管廊<em>"3"</em></p>
            <p>项目基金<em>"4"</em></p>
            <p>流域治理<em>"5"</em></p>
            <p>网络繁忙<em>"6"</em></p>
        </div>
    </div>
    <div class="i_br">
        <div class="box_h">
            <span>PPP项目实操平台培训</span>
            <a href=""><em>+</em> MORE</a>
        </div>
        <div class="box_m">
            <ul class="ul_a clearfix">
                <li><a href=""><img src="__ROOT__/static/index/images/pic1.jpg" alt=""/><span>陪训课程</span></a></li>
                <li><a href=""><img src="__ROOT__/static/index/images/pic2.jpg" alt=""/><span>项目动态</span></a></li>
                <li><a href=""><img src="__ROOT__/static/index/images/pic3.jpg" alt=""/><span>专家中心</span></a></li>
            </ul>
            <div class="space_hx">&nbsp;</div>
            <ul class="ul_b clearfix">
                <li><a href=""><img src="__ROOT__/static/index/upload/pic1.jpg" alt=""/></a></li>
                <li><a href=""><img src="__ROOT__/static/index/upload/pic2.jpg" alt=""/></a></li>
                <li><a href=""><img src="__ROOT__/static/index/upload/pic3.jpg" alt=""/></a></li>
                <li><a href=""><img src="__ROOT__/static/index/upload/pic4.jpg" alt=""/></a></li>
            </ul>
        </div>
    </div>
</div>
{include file="base/footer" /}